.portfolio_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem 2rem;
  position: stickey;
  z-index: 3;
  top: 0;
  height: 4rem;
}

.portfolio_desktop-menu-item {
  padding: 10px;
}

.portfolio_desktop-menu-item:hover{
    color: yellow;
    padding-bottom: 1rem;
    border-bottom: 2px solid yellow;
}

.portfolio_desktop-menu-btn {
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 10px
}